process {
    executor = 'local'
}



params {
   
    fastqc_bin = "/home/samrudhi0409/miniconda3/envs/bnf/bin/fastqc"
    cutadapt_bin = "/usr/bin/cutadapt"
    bwa_bin = "/home/samrudhi0409/miniconda3/envs/bnf/bin/bwa"
    samtools_bin = "/home/samrudhi0409/miniconda3/envs/bnf/bin/samtools"
    bcftools_bin = "/home/samrudhi0409/miniconda3/envs/bnf/bin/bcftools"

    fastq_dir = "C:\nf_pipeline\data"
    
    genome = "C:\nf_pipeline\reference"
}
